@model YOUTUBEiMPROVED.Models.YoutubeResults

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" href="~/jquery-bootstrap/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/jquery-bootstrap/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link type="text/css" href="~/jquery-bootstrap/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/jquery-bootstrap/assets/css/docs.css" rel="stylesheet" />
    <link type="text/css" href="~/jquery-bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <title>YouTube++ deluxe gold collectors edition</title>
</head>
<body>

    <div id="loginDiv" style="position:absolute; right: 100px;">

        @{
            Html.Partial("Login", new YOUTUBEiMPROVED.Models.LoginData());
        }

    </div>

    @if(Model != null)
	{
        if(Model.titles != null && Model.videoIDs != null)
		{
			Html.Partial("VideoPlayer", Model);
		}
	}
    else
	{
		Html.Partial("Search", Model);
    }
</body>
</html>
