@model YoutubeTesti.Models.uTubSearchResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YOUTUBEiMPROVED</title>
    <script type="text/javascript" src="~/javascripts/YoutubePlayerHandling.js"> </script>
    <script type="text/javascript" src="~/javascripts/swfobject.js"> </script>

</head>
<body>

    @using (Html.BeginForm())
	{
        <p>@Html.TextBoxFor(x => x.searchString) </p>
        <input type="submit" value="Search" />
		if(Model != null)
		{
            if (Model.titles != null && Model.videoIDs != null)
            {
                //Search worked, do something
                <div id="mainDiv" style="background-color: #606060">
				@for (int i = 0; i < Model.titles.Count; i++)
				{

				    //Titles have their own div so that the text isn't replaced by the video
		            <div id="videoTitle@(i)" style="background-color: #909090">
                    <p>
                        @Model.titles[i]
                    </p>
		            </div>
		
		            
                    <div id="playerDiv@(i)"> Loading... </div> //Empty div the content of which is replaced by a video after the video has loaded.
                    <script type="text/javascript">
                        videoList.push("@Model.videoIDs[i]");
                        createNewPlayer(@i); //Function defined in YoutubePlayerHandling
                    </script>
				}
                </div>
		
				//Start playlist mode now that all players have been created
				<script type="text/javascript">
				    setTimeout("startPlaylistMode()", 2000); //Start the playlist mode after waiting two seconds
				</script>
            }
		}  
	}
    

      
</body>
</html>
