@model YoutubeTesti.Models.uTubSearchResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YOUTUBEiMPROVED</title>
    <script type="text/javascript" src="~/javascripts/YoutubePlayerHandling.js"> </script>
    <script type="text/javascript" src="~/javascripts/swfobject.js"> </script>

    <script type="text/javascript"> //this has to be here because for some reason youtube needs this to have it's own script tags... probably.
        window.onYouTubePlayerReady = function(playerId) {
            onOnYouTubePlayerReady();
        }
    </script>

</head>
<body>
    <script type="text/javascript">
        var ytplayers = new Array(); //In an array so the number of youtube players isn't hard coded
        var videoList = new Array(); //add video ids here and pop when we've made a player for that video
    </script>




    @using (Html.BeginForm())
	{
        <p>@Html.TextBoxFor(x => x.searchString) </p>
        <input type="submit" value="Search" />
		if(Model != null)
		{
            if (Model.titles != null && Model.videoIDs != null)
            {
                //Search worked, do something
				for (int i = 0; i < Model.titles.Count; i++)
				{
                    <p></p> //add one empty paragraph so the uppermost video is below the search button

				    //Titles have their own div so that the text isn't replaced by the video
		            <div id="videoTitle@(i)">
                    <p>
                        @Model.titles[i]
                    </p>
		            </div>
		
		            
                    <div id="playerDiv@(i)"> Loading... </div> //Empty div the content of which is replaced by a video after the video has loaded.
                    <script type="text/javascript">
                        videoList.push("@Model.videoIDs[i]");
                        createNewPlayer(@i);
                    </script>

				}
            }
		}  
	}
    

      
</body>
</html>
