@model YOUTUBEiMPROVED.Models.LoginData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        You've reached the Login page, which contains nothing yet. D:
    </div>
</body>
</html>
