@model YOUTUBEiMPROVED.Models.LoginData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        Login page. How exciting.
    </div>

    @if (Model != null) //ie. if user got to this page after making a http post
	{

            if (Model.loginMessage != null)
            {
		        <div>
                    <p>@Model.loginMessage</p>
		        </div>
            }
		
	}

    <p></p>
    
    @using (Html.BeginForm())
    {
        <div style="margin: auto; width: 200px;">
            Username: @Html.TextBoxFor(x => x.username, new { id = "usernameBox" })
            Password: @Html.PasswordFor(x => x.password, new { id = "passwordBox" })
            <input type="submit" value="Login" />
        </div>
    }

    <div>
    </div>
</body>
</html>
